.navbar {
    background-color: #ffffff;
    height: 3.5rem;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.75);
    align-items: center;
}

.apptitle-container {
    width: 14rem;
    align-items: center;
    display: flex;
    justify-items: center;
}

.apptitle {
    text-align: center;
    color: black;
    font-size: x-large;
}

.toggle-menu{
    color: black;
    font-size: large;
}