<div class="aboout">
    <!-- ######## Header #### -->
    <div class="header">
        <h1 class="about-title">Application</h1>
        <div class="button-group">
            <button> Edit</button>
            <button class="blue_btn">
                Create
            </button>
        </div>
    </div>
    <div class="tabs">
        <div class="tab">All Files</div>
        <div class="tab">Shared</div>
        <div class="tab">File Requests</div>
    </div>
    <!-- ### Tabs #### -->
    
    <div class="wrapper">
        <div class="cards-container">
        </div>
    
        <div class="applications-section">
            <h1>Applications</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Company</th>
                    <th>Offer</th>
                    <th>Meeting</th>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>
</div>