<mat-sidenav-container class="example-container">
    <!-- Sidebar -->
    <mat-sidenav #sidenav class="example-sidenav" [mode]="isMobile ? 'over' : 'side'"
        [opened]="isMobile ? isSidebarOpen : isExpanded" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()"
        (backdropClick)="isSidebarOpen = false">
        <app-sidebar></app-sidebar>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content>
        <div class="content-wrapper">
            <div class="main-content">
                <header class="header">
                    <!-- Send the sidenav to header if needed -->
                    <app-header [sidenav]="sidenav" (toggleSidebar)="toggleSidebar()"></app-header>
                </header>
                <div class="root-container">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
