<nav class="vertical-navbar">
    <ul>
        <li>
            <a routerLink="/">
                <fa-icon [icon]="home"></fa-icon>
                <span class="nav-text">Dashboard</span>
            </a>
        </li>
        <li>
            <a routerLink="/about">
                <fa-icon [icon]="chart"></fa-icon>
                <span class="nav-text">About</span>
            </a>
        </li>
        <li>
            <a href="#">
                <fa-icon [icon]="message"></fa-icon>
                <span class="nav-text">Messages</span>
            </a>
        </li>
        <li>
            <a href="#">
                <fa-icon [icon]="bookmark"></fa-icon>
                <span class="nav-text">Collections</span>
            </a>
        </li>
    </ul>
</nav>